name: Docker build and push
on:
  workflow_call:
    secrets:
      DOCKERHUB_USERNAME:
        required: true

      DOCKERHUB_TOKEN:
        required: true

jobs:
  docker:
    strategy:
      matrix:
        project: [ foods, orders, notifications, payment ]

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Test and Build
        run: |
          chmod +x gradlew
          ./gradlew clean build

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker BuildX
        uses: docker/setup-buildx-action@v3

      - name: Build and Push for ${{ matrix.project }}
        uses: docker/build-push-action@v6
        with:
          push: true
          context: ./${{ matrix.project }}
          file: ./${{ matrix.project }}/Dockerfile
          platforms: linux/arm64,linux/amd64
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.project }}:latest
